<!DOCTYPE html>
<html>
  <head>
    <title>$TITLE</title>
    <meta name="theme-color" content="COLOR">
    <meta charset="utf-8">
    <meta property="og:url" content="URL">
    <meta property="og:type" content="website">
    <meta property="og:title" content="TITLE">
    <meta property="og:image" content="IMAGE">
    <meta property="og:description" content="DESCRIPTION">
    <script>
      window.location.replace("$SUB-ROUTE");
    </script>
    <style>
      * {
        margin: 0;
        border: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        width: 100vw;
        width: 100dvw;

        height: 100vh;
        height: 100dvh;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: COLOR;
      }
    </style>
  </head>
  <body></body>
</html>