@import url('https://fonts.googleapis.com/css?family=Fragment+Mono');

.project-card {
  display: flex;
  flex-direction: column;

  font-family: 'Fragment Mono';

  p {
    height: 100%;
  }

  .icon-ball {
    width: 3vw;
    aspect-ratio: 1 / 1;
    margin: auto 0 0 auto;
    border-radius: 100vmax;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #00000055;

  }

  img, img:focus:before {
    aspect-ratio: 1 / 1;
    border-radius: 100vmax;
  }
}

@media (min-aspect-ratio: 2 / 3) {
  .project-card {
    padding: 2vw;
    gap: 1vw;

    h1 {
      font-size: 1.7vw !important;
    }

    p {
      font-size: 1.3vw !important;
    }

    .icon-ball {
      width: 3vw;
    }

    img, img:focus:before {
      width: 2vw;
    }
  }
}

@media (max-aspect-ratio: 2 / 3) {
  .project-card {
    padding: 4vw;
    gap: 1vw;

    h1 {
      font-size: 4vw !important;
    }

    p {
      font-size: 3vw !important;
    }

    .icon-ball {
      width: 7vw;
    }

    img, img:focus:before {
      width: 4vw;
    }
  }
}